/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
node_modules/
.vscode
.byebug_history
npm_debug.log
# rspec failure tracking
.rspec-failures

# default test application
spec/decidim_dummy_app

# default development application
development_app

.rbenv-vars
*.gem
