<div id="map-edit-modal" data-dialog="map-edit-modal" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="dialog-title-map-edit-modal" aria-describedby="dialog-desc-map-edit-modal" aria-modal="true">
  <div id="map-edit-modal-content">
    <button type="button" data-dialog-close="map-edit-modal" data-dialog-closable="" aria-label="Close modal">&times;</button>
    <div data-dialog-container="">
      <div class="modal-content"></div>
    </div>
  </div>
</div>
