<div class="tab-content">
  <% tabs.each_with_index do |item, index| %>
    <div class="tab-pane<%= " is-active" if index.zero? %>" id="map<%= index %>">
      <%= render partial: "form", locals: { form: blueprint_form(item) } %>
    </div>
  <% end %>
  <div class="tab-pane" id="map-new">
    <%= render partial: "form", locals: { form: blueprint_form } %>
  </div>
</div>
