<ul class="nav-tabs" id="navigation_maps-tabs">
  <% tabs.each_with_index do |item, index| %>
    <li class="<%= " is-active" if index.zero? %>">
      <a href="#map<%= index %>"><%= translated_attribute(item.title).presence || "Tab #{index + 1}" %></a>
    </li>
  <% end %>
  <li>
    <a href="#map-new">+ <%= t("navigation_map_settings_form.add", scope: "decidim.navigation_maps.content_blocks") %></a>
  </li>
</ul>
