@import "stylesheets/decidim/legacy/leaflet";
@import "stylesheets/decidim/plugins/leaflet-geoman";
@import "stylesheets/decidim/legacy/variables";
@import "stylesheets/decidim/navigation_maps/variables";

.item__edit-sticky {
  z-index: 1000;
}

#map-edit-modal {
  z-index: 1200;

  form {
    #blueprint_area_color {
      margin-top: 12px;
      display: block;
    }
  }
}

.navigation_maps.admin {
  > .content {
    position: relative;
  }

  #navigation_maps-tabs.tabs {
    float: left;
    width: 100%;
    margin: 0 0 12px;
    list-style-type: none;

    > li {
      float: left;
      margin-bottom: -1px;
      margin-right: 4px;

      > a {
        float: left;
        margin-right: 2px;
        line-height: 1.42857143;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 4px;

        &:hover {
          background-color: #eee;
        }
      }

      &.is-active {
        > a,
        > a:hover,
        > a:focus {
          color: #fff;
          background-color: var(--secondary);
        }
      }
    }
  }

  .tabs-content {
    float: left;
    width: 100%;

    .card {
      .card-divider {
        button.card-divider-button {
          background-color: transparent;
          border-radius: 0;
          border-width: 0 0 1px;
          border-style: solid;
          border-color: #6b7280cc;

          &:hover {
            background: transparent;
          }

          &:focus {
            outline: none;
          }
        }
      }
    }

    .map {
      height: 700px;
    }

    .thumbnail {
      img {
        max-height: 100px;
      }
    }

    .delete-tab {
      border-top: 1px solid $dark-gray;
      padding: 1em 1em 0;
    }

    .leaflet-interactive {
      fill: "rgba(#{$leaflet-background-color}, 1)";
      color: "rgba(#{$leaflet-background-color}, 1)";
      opacity: 0.6;
      fill-opacity: 0.5;

      &.selected {
        opacity: 1;
      }
    }

    > .tabs-panel {
      display: none;

      &.is-active {
        display: block;
      }
    }
  }
}
