@import "leaflet";
@import "@geoman-io/leaflet-geoman-free/dist/leaflet-geoman.css";
@import "stylesheets/decidim/variables";
@import "stylesheets/decidim/utils/settings";
@import "stylesheets/decidim/utils/mixins";
@import "stylesheets/decidim/navigation_maps/variables";

.navigation_maps.admin {
  .accordion-item {
    .accordion-title {
      border: 1px solid #ccc !important;
    }
    &.is-active {
      .accordion-title {
        background-color: #039be5;
        border-color: "rgba(#{$leaflet-background-color}, 1)" !important;
      }
    }
  }

  >.content {
    position: relative;
  }
  .loading {
    display: none;
    z-index: 10000;
    content: "";
    position: absolute;
    background-color: rgba(255,255,255,.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .inner-loading {
      margin-top: 25%;
      width: 90%;
      display: inline-block;
      text-align: center;

    }
    .spinner {
      @include spinner(25px, #aaa, var(--secondary), 800ms);
      vertical-align: middle;
    }
    .progress {
      background-color: #aaa;
      display: inline-block;
      width: 90%;
      margin-left: 1em;
    }
    .progress-meter {
      color: #fff;
      background-color: var(--secondary);
      width: 30%;
      padding:0 0.5em;
      font-size: 0.7em;
      font-weight: bold;
    }

  }

  .tabs-content {
    .map {
      height: 700px;
    }
    .thumbnail {
      img {
        max-height: 100px;
      }
    }
    .delete-tab {
      border-top: 1px solid $dark-gray;
      padding: 1em 1em 0;
    }
    .leaflet-interactive {
      fill: "rgba(#{$leaflet-background-color}, 1)";
      color: "rgba(#{$leaflet-background-color}, 1)";
      weight: 3;
      opacity: 0.6;
      fill-opacity: 0.5;
      &.selected {
        opacity: 1;
      }
    }
  }

}

.navigation_maps.modal {
  .spinner {
    @include spinner(25px, #aaa, var(--secondary), 800ms);
    vertical-align: middle;
    display: none;
  }
  &.loading {
    .spinner {
      display: inline-block;
    }
  }
}
