//= require leaflet
//= require leaflet-geoman
//= require_self

:root {
  --leaflet-background-color: 34,98,204;
}

.navigation_maps-content {
  .map {
    height: 475px;
  }

  tbody > tr {
      &.selected {
        background-color: rgba(var(--leaflet-background-color), 0.5) !important;
      }
      &:hover {
        background-color: rgba(var(--leaflet-background-color), 0.5) !important;
    }
  }
  .leaflet-interactive {
    fill: rgba(var(--leaflet-background-color), 1);
    color: rgba(var(--leaflet-background-color), 1);
    weight: 3;
    opacity: 0.6;
    fill-opacity: 0.5;
    &.selected {
      opacity: 1;
    }
  }

  .progress-meter {
    color:white;
    font-size: 0.7em;
    font-weight: bold;
  }
}