//= require leaflet
//= require leaflet-geoman
//= require_self

.map { 
    height: 475px; 
}

tbody > tr {
    &.selected {
        background-color: #2262CC !important;
    }
    &:hover {
        background-color: #2262CC !important;
  }
}

.progress-meter {
    color:white;
    font-size: 0.7em;
    font-weight: bold;
}