<div class="tab-content">
  <% tabs.each_with_index do |item, index| %>
    <div class="tab-pane<%= " is-active" if index.zero? %>" id="map<%= index %>">
      <%= content_tag(:div, "", id: "navigation_maps-map-#{item.id}", class: "map", style: "height: #{item.height}px", data: { id: item.id, image: image_path(item.image), blueprint: item.blueprint }) %>
    </div>
  <% end %>
</div>
