<script id="navigation_maps-popup" type="text/x-jsrender">
  <div class="map-info__content">
    <h3>{{:title}}</h3>
    <div id="bodyContent">
      <p>{{:description}}</p>
      <div class="map-info__button">
        <a href="{{:link}}" class="button button--sc" style="background-color:{{:color}} !important">
          <%= t(".view") %>
        </a>
      </div>
    </div>
  </div>
</script>
