<section class="extended home-section">
  <div class="row">
    <div class="columns small-centered large-10">
      <%= content_tag(:div, "", id: "map", class: "map", data: { map: map_image_url, blueprint: blueprint_data }) %>
    </div>
  </div>
</section>

<%= javascript_include_tag "decidim/navigation_maps/navigation_maps" %>
<%= stylesheet_link_tag "decidim/navigation_maps/navigation_maps" %>
