name: Test

on:
  push:
    branches:
      - main
  pull_request:

env:
  RUBY_VERSION: 2.7.5

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:11
        ports: ["5432:5432"]
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
    env:
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: postgres
      DATABASE_HOST: localhost

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ env.RUBY_VERSION }}
          bundler-cache: true

      - run: npm ci
        name: Install JS deps

      - run: bundle exec rubocop -P
        name: Lint Ruby files

      - run: bundle exec erblint app/{cells,views}/**/*.erb
        name: Lint ERB files

      - run: npm run lint
        name: Lint JS files

      - name: Setup Database
        run: bundle exec rake test_app

      - name: Run RSpec
        run: SIMPLECOV=1 CODECOV=1 bundle exec rake
